SECRET_KEY=26qt^hayq@lv&&e$4kgb5@b*@9@a1z580dmg-%!_@$^kas=!*-

BACKEND_PORT=8080

DB_HOST=db
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_secure_password
DB_PORT=5432

FRONTEND_PORT=5173

NGINX_PORT=8888
